{% extends 'base/base_library.html' %}
{% block page_content %}

    <div class="sidebar">
        <div class="text-center mt-20">
            <h4 class="widget-title">Search book</h4>
            <form class="form-group">
                <input type="text" class="form-control" placeholder="Search" required>
                <button class="btn btn-green" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div><!-- /.search-form -->
    </div>

    <section class="site-section subpage-site-section section-portfolio">
        <div class="container">

            <div id="grid" class="row">
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-1.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-2.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["illustration"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-3.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["branding"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-4.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["photography"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-5.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["illustration"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-6.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-7.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["uiux"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-8.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["mobileapp"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-9.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["photography"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-10.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["branding"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-11.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-12.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-12.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
            </div>
        </div>


        <div class="text-center">
            <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
        </div>

        </div>
    </section><!-- /.section-portfolio -->

{% endblock %}