{% extends 'base/base_library.html' %}
{% block page_content %}

    <div class="sidebar">
        <div class="text-center mt-20">
            <h4 class="widget-title">Search book</h4>
            <form class="form-group">
                <input type="text" class="form-control" placeholder="Search" required>
                <button class="btn btn-green" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div><!-- /.search-form -->
    </div>

    <section class="site-section subpage-site-section section-portfolio">
        <div class="container">

            <div id="grid" class="row">

                {% for book in books %}

                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                        <div class="portfolio-item">
                            <img src="{{book.cover}}" class="img-res" alt="">
                            <h4 class="portfolio-item-title">{{ book.title }}</h4>
                            <a href="{% url 'book details' pk=book.pk %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>

                {% endfor %}

            </div>
        </div>


        <div class="text-center">
            <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
        </div>

        </div>
    </section><!-- /.section-portfolio -->

{% endblock %}