{% extends 'base/base_library.html' %}
{% load class_filter %}
{% block page_content %}

    <div class="sidebar">
        <div class="text-center mt-20">
            <h4 class="widget-title">Search book</h4>
            <form method="get" action="{% url 'all books' %}" class="form-group">
                {{ search_form.text|add_class:'form-control' }}
                <button class="btn btn-green">
                    <i class="fa fa-search"></i>
                </button>
                {% csrf_token %}
            </form>
        </div><!-- /.search-form -->
    </div>

    <section class="site-section subpage-site-section section-portfolio">
        <div class="container">

            <div id="grid" class="row">

                {% for book in books %}

                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                        <div class="portfolio-item">
                            <img src="{{ book.cover }}" class="img-res" alt="">
                            <h4 class="portfolio-item-title">{{ book.title }}</h4>
                            <a href="{% url 'book details' pk=book.pk %}"><i class="fa fa-arrow-right"
                                                                             aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>

                {% endfor %}

            </div>
        </div>


        <div class="text-center">
            <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
        </div>

        </div>
    </section><!-- /.section-portfolio -->

{% endblock %}