{% extends 'base/base_library.html' %}
{% block page_content %}

    <section class="site-section subpage-site-section section-project">

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="project-img">
                        <img src="../../staticfiles/img/portfolio-1.jpg" class="img-res" alt="">
                    </div><!-- /.project-img -->

                </div>
                <aside class="col-md-4">
                    <h2>Title</h2>
                    <div class="project-info">

                        <div class="project-date-category">
                            <p><span>Author:</span> Branding, Graphic design</p>
                            <p><span>Genre:</span> Branding, Graphic design</p>
                            <p><span>Language:</span> Branding, Graphic design</p>
                            <p><span>Date:</span> March 1, 2017</p>

                            <p><span>Description:</span></p>

                            <p class="project-description">Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when
                                an unknown printer took a galley of type and scrambled it to make a type specimen. </p>
                        </div><!-- /.project-cat -->

                    </div><!-- /.project-description -->

                    <div class="buttons mt-50">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" class="btn btn-border mb-10">Add to favourites</a>
                            </div>

                            <div class="col-sm-12">
                                <a href="#" class="btn btn-border mb-10">Remove from favourites</a>
                            </div>
                        </div>
                    </div><!-- /.buttons -->

                </aside>
            </div>
        </div>

    </section><!-- /.section-project -->

    <section class="site-section subpage-site-section section-related-projects">
        <div class="container">
            <div class="text-left">
                <h2>Other books</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-1.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-2.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-3.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="../../staticfiles/img/portfolio-4.jpg" class="img-res" alt="">
                        <h4 class="portfolio-item-title">Portfolio item</h4>
                        <a href="../portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div><!-- /.portfolio-item -->
                </div>
            </div>
        </div>
    </section><!-- /.section-portfolio -->

{% endblock %}