{% extends 'base/base_library.html' %}
{% load class_filter %}
{% block page_content %}

    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center heading-separator">Edit book</h2>

        <form method="post" action="{% url 'edit book' pk=pk %}">
            <div class="row">
                <div class="col-sm-15 mt-20">
                    <div class="form-group">
                        <label for="title">*Title</label>
                        {{ form.title|add_class:'form-control' }}

                        <label for="author">*Author</label>
                        {{ form.author|add_class:'form-control' }}

                        <label for="genre">*Genre</label>
                        {{ form.genre|add_class:'form-control' }}

                        <label for="language">*Language</label>
                        {{ form.language|add_class:'form-control' }}

                        <label for="description">*Description</label>
                        {{ form.description|add_class:'form-control' }}

                        <label for="cover">Cover</label>
                        {{ form.cover|add_class:'form-control' }}
                    </div>
                </div>

                <div class="text-center mt-20">
                    <button class="btn btn-green" type="submit">Edit</button>
                    {% csrf_token %}
                </div>
                <div class="col-sm-15 mt-20">

                </div>
            </div>
        </form>
    </div>
{% endblock %}