{% extends 'base/base_profile.html' %}
{% block page_content %}

    <div class="row mt-40">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center heading-separator">Are you sure you want to delete your profile?</h2>

            <form method="post" action="{% url 'delete profile' pk=object.pk %}">
                {{ form }}
                <div class="text-center mt-20">
                    <button class="btn btn-green">Delete</button>
                </div>
                {% csrf_token %}
            </form>

            <div class="text-center mt-20">
                <a href="javascript:history.back()">
                    <button class="btn btn-green">Go back</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}