{% extends 'base/base_blog.html' %}
{% load class_filter %}
{% block page_content %}

    <section class="site-section subpage-site-section section-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}

                        <article class="blog-post">

                            <div class="post-content">
                                <h3 class="post-title"><a
                                        href="{% url 'post details' pk=post.pk %}">{{ post.title }}</a></h3>
                                <p>{{ post.description }}</p>
                                <div class="text-right">
                                    <a class="read-more" href="{% url 'post details' pk=post.pk %}">Read more</a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-author">
                                        <a href=""><img class="img-res" src="../../staticfiles/img/author.jpg"
                                                        alt="">{{ post.user }}</a>
                                    </span>
                                    <span class="post-date">
                                        <a href=""><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>{{ post.date_of_publication }}</a>
                                        </span>

                                </div><!-- /.post-meta -->
                            </div><!-- /.post-content -->
                        </article><!-- /.blog-post -->

                    {% endfor %}

                    <div class="ui-pagination mt-50">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <ul class="pagination">
                                    <li><a href="#">&lt;&lt;</a></li>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="more"><a href="#">...</a></li>
                                    <li><a href="#">31</a></li>
                                    <li class="active"><a href="#">32</a></li>
                                    <li><a href="#">33</a></li>
                                    <li class="more"><a href="#">...</a></li>
                                    <li><a href="#">&gt;</a></li>
                                    <li><a href="#">&gt;&gt;</a></li>
                                </ul><!-- /.pagination -->
                            </div>
                        </div>
                    </div><!-- /.ui-pagination -->
                </div>

                <aside class="col-md-4">
                    <div class="sidebar">

                        <div class="widget search-form">
                            <h4 class="widget-title">Search the blog</h4>
                            <form method="get" action="{% url 'blog' %}" class="form-group">

                                {{ search_form.text|add_class:'form-control' }}

                                <button class="btn btn-green">
                                    <i class="fa fa-search"></i>
                                </button>
                                {% csrf_token %}
                            </form>


                            <aside class="col-md-4">
                                <div class="buttons mt-50">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="{% url 'add post' %}" class="btn btn-gray mb-10">Add Post</a>
                                        </div>
                                    </div>
                                </div>
                            </aside>

                        </div><!-- /.search-form -->
                    </div><!-- /.sidebar -->
                </aside>
            </div>
        </div>
    </section><!-- /.section-portfolio -->


{% endblock %}
