{% extends 'base/base_blog.html' %}
{% block page_content %}

    <section class="site-section subpage-site-section section-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-post">

                        <div class="post-content">
                            <h3 class="post-title"><a href="../blog-post.html">12 Essential Free Sketch Plugins</a></h3>
                            <p>Sketch Measure helps designers organize and outline their work for developers, project
                                managers, and other team members</p>
                            <div class="text-right">
                                <a class="read-more" href="../blog-post.html">Read more</a>
                            </div>
                            <div class="post-meta">
                                    <span class="post-author">
                                        <a href="#"><img class="img-res" src="../../staticfiles/img/author.jpg" alt="">John Smith</a>
                                    </span>
                                <span class="post-date">
                                        <a href=""><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>September 21, 2016</a>
                                        </span>

                            </div><!-- /.post-meta -->
                        </div><!-- /.post-content -->
                    </article><!-- /.blog-post -->

                    <article class="blog-post">

                        <div class="post-content">
                            <h3 class="post-title"><a href="../blog-post.html">Customize WordPress Themes Easily</a>
                            </h3>
                            <p>This guide is intended for those with some knowledge of HTML and CSS, but aren’t too
                                familiar with the way WordPress themes work. If you don’t know much about web design but
                                you are interested, that’s good too. We’ll explain everything each step of the way.</p>
                            <div class="text-right">
                                <a class="read-more" href="../blog-post.html">Read more</a>
                            </div>
                            <div class="post-meta">
                                    <span class="post-author">
                                        <a href="#"><img class="img-res" src="../../staticfiles/img/author-3.jpg"
                                                         alt="">Marc Jones</a>
                                    </span>
                                <span class="post-date">
                                        <a href=""><i class="fa fa-calendar" aria-hidden="true"></i>August 25, 2016</a>
                                        </span>

                            </div><!-- /.post-meta -->
                        </div><!-- /.post-content -->
                    </article><!-- /.blog-post -->

                    <article class="blog-post">

                        <div class="post-content">
                            <h3 class="post-title"><a href="../blog-post.html">Creative Website Template PSD</a></h3>
                            <p>Free PSD web templates can be found everywhere on the internet. Most of them are ugly,
                                some of them look nice, but rarely will you find anything great. Since Adobe Photoshop
                                is one of those „easy to use – hard to master“ programs, many beginners and
                                professionals decide to use PSD templates for their first website.</p>
                            <div class="text-right">
                                <a class="read-more" href="../blog-post.html">Read more</a>
                            </div>
                            <div class="post-meta">
                                    <span class="post-author">
                                        <a href="#"><img class="img-res" src="../../staticfiles/img/author-2.jpg"
                                                         alt="">Linda Smith</a>
                                    </span>
                                <span class="post-date">
                                        <a href=""><i class="fa fa-calendar" aria-hidden="true"></i>July 11, 2016</a>
                                        </span>

                            </div><!-- /.post-meta -->
                        </div><!-- /.post-content -->
                    </article><!-- /.blog-post -->

                    <div class="ui-pagination mt-50">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <ul class="pagination">
                                    <li><a href="#">&lt;&lt;</a></li>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="more"><a href="#">...</a></li>
                                    <li><a href="#">31</a></li>
                                    <li class="active"><a href="#">32</a></li>
                                    <li><a href="#">33</a></li>
                                    <li class="more"><a href="#">...</a></li>
                                    <li><a href="#">&gt;</a></li>
                                    <li><a href="#">&gt;&gt;</a></li>
                                </ul><!-- /.pagination -->
                            </div>
                        </div>
                    </div><!-- /.ui-pagination -->
                </div>

                <aside class="col-md-4">
                    <div class="sidebar">

                        <div class="widget search-form">
                            <h4 class="widget-title">Search the blog</h4>
                            <form class="form-group">
                                <input type="text" class="form-control" placeholder="Search" required>
                                <button class="btn btn-green" type="button"><i class="fa fa-search"
                                                                               aria-hidden="true"></i></button>
                            </form>

                            <aside class="col-md-4">
                                <div class="buttons mt-50">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-gray mb-10">Add Post</a>
                                        </div>
                                    </div>
                                </div>
                            </aside>

                        </div><!-- /.search-form -->
                    </div><!-- /.sidebar -->
                </aside>
            </div>
        </div>
    </section><!-- /.section-portfolio -->


{% endblock %}
