{% extends 'base/base_blog.html' %}
{% load static %}
{% load class_filter %}
{% block page_content %}

    <section class="site-section subpage-site-section section-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-post">
                        <div class="post-content">
                            <h2 class="post-title">{{ blogpost.title }}</h2>
                            <p>{{ blogpost.description }}</p>


                            <div class="post-meta">
                                    <span class="post-author">
                                        <a href="#"><img class="img-res" src="../../staticfiles/img/author.jpg"
                                                         alt="">{{ blogpost.user }}</a>
                                    </span>
                                <span class="post-date">
                                        <a href=""><i class="fa fa-calendar"
                                                      aria-hidden="true"></i>{{ blogpost.date_of_publication }}</a>
                                        </span>
                            </div><!-- /.post-meta -->
                        </div><!-- /.post-content -->
                    </article><!-- /.blog-post -->


                    <div id="PostComments" class="post-comments">
                        <h3>{{ comments_count }} comments</h3>

                        {% for comment in blogpost.blogpostcomment_set.all %}
                            <div class="post-comment">

                                <img class="img-res" src="../../staticfiles/img/author-2.jpg" alt="">

                                <div class="post-comment-content">

                                    <div class="post-comment-content-details">
                                        <p class="post-comment-author-name">{{ comment.user }}</p>
                                        <p class="post-comment-date"><i class="fa fa-calendar"
                                                                        aria-hidden="true"></i>{{ comment.publication_date_and_time }}
                                        </p>
                                    </div><!-- /.post-content-details -->
                                    <p class="comment">{{ comment.text }}</p>
                                </div><!-- /.post-comment-content -->
                            </div><!-- /.post-comment -->

                            <div class="text-right comment-reply">
                                <a href="{% url 'edit comment' post_id=object.pk pk=comment.pk%}">
                                    <img class="edit-img" src="{% static 'img/edit-icon.png' %} " style="height: 16px;"
                                         alt="edit button">
                                </a>
                                <a href="{% url 'delete comment' post_id=object.pk pk=comment.pk%}">
                                    <img class="edit-img" src="{% static 'img/delete-icon.png' %} " style="height: 16px;"
                                         alt="edit button">
                                </a>
                            </div>
                        {% endfor %}


                    </div><!-- /#PostComments -->
                    <div class="respond">
                        <h3>Post a Comment</h3>
                        <form method="post" action="{% url 'comment post' post_id=object.pk %}" class="form-horizontal">
                            {{ comment_form.text|add_class:'form-control form-control-comment' }}

                            <button class="btn btn-green">Add a comment</button>
                            {% csrf_token %}
                        </form>
                    </div><!-- /.respond -->
                </div>
                <aside class="col-md-4">
                    <div class="sidebar">

                        {% if is_owner %}
                            <a href="{% url 'edit post' pk=object.pk %}" class="btn btn-green mb-10">Edit post</a>
                            <a href="{% url 'delete post' pk=object.pk %}" class="btn btn-fill mb-10">Delete post</a>
                        {% endif %}

                        <div class="col-sm-15 mt-20"></div>
                        <div class="widget widget-recent-posts">
                            <h4 class="widget-title">Recent posts</h4>
                            {% for post in recent_posts %}
                                <ul class="list-unstyled">
                                    <li><a href="#">{{ post.title }}</a></li>
                                </ul>
                            {% endfor %}
                        </div><!-- /.widget-recent-posts -->


                    </div><!-- /.sidebar -->
                </aside>
            </div>
        </div>
    </section><!-- /.section-portfolio -->

{% endblock %}