{% extends 'base/base_blog.html' %}
{% load class_filter %}
{% block page_content %}

<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center heading-separator">Edit post</h2>

    <form method="post" action="{% url 'edit post' pk=object.pk %}">
        <div class="row">
            <div class="col-sm-15 mt-20">
                <div class="form-group">
                    <label for="name">*Title</label>
                    {{ form.title.errors }}
                    {{ form.title|add_class:'form-control' }}

                    <label for="post">*Your post description</label>
                    {{ form.description.errors }}
                    {{ form.description|add_class:'form-control form-control-comment' }}

                </div>
            </div>

            <div class="text-center mt-20">
                <button class="btn btn-green">Edit</button>
                {% csrf_token %}
            </div>
            <div class="col-sm-15 mt-20">

            </div>
        </div>
    </form>
</div>
{% endblock %}